@model ResetPaw
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Accouts.cshtml";
}


<div class="wrapper" style="background-image: url('@Url.Content("~/Form/images/bg-registration-form-1.jpg")');">
	<div class="inner">
		<div class="image-holder">
			<img src="~/Form/images/registration-form-1.jpg" />
		</div>
		<form asp-action="ResetPassword" asp-controller="Accounts" method="post">
			<h3>ResetPassword </h3>
			
			<div class="form-wrapper">
				<input asp-for="Password" placeholder="Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
			</div>
			<div class="form-wrapper">
				<input asp-for="ConfirmPassWord" placeholder="Confirm Password" class="form-control">
				<i class="zmdi zmdi-lock"></i>
			</div>
			<input asp-for="Email" type="hidden"/>
			<input asp-for="Token" type="hidden" />
			<button>
				Change Password
				<i class="zmdi zmdi-arrow-right"></i>
			</button>
			<div class="mt-3">
				<a class="nav-link text-dark" asp-area="" asp-action="Login" asp-controller="Accounts">Do You Have An Account?</a>

			</div>
		</form>
	</div>
</div>
