@model Project.PL.Areas.Admin.ViewModels.Offer.OffersFormVM
@section Header {
    Create Offer
}

<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Offer</h3>
        </div>

        <form id="OffersForm" asp-controller="Offers" asp-action="Create" enctype="multipart/form-data">
            <div class="card-body">
                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger">
                        @Html.ValidationSummary(true)
                    </div>
                }

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" placeholder="Enter offer title" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control textarea" placeholder="Enter offer description" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control-file" id="Image" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <img src="#" id="imagePreview" style="display:none" width="80px;" />
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="mt-3">
        <a asp-controller="Offers" asp-action="Index" class="btn btn-secondary">Back to Index</a>
    </div>
</div>

@section Js {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/5nz6dzal6xfpv28dogyisj9tz702ufv9g476iagjagt4ligx/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '.textarea',
            plugins: [
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist | removeformat',
        });
        document.querySelector("#Image").addEventListener("change", (event) => {
            const file = event.target.files[0];
            const imagePreview = document.querySelector("#imagePreview");
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                }
                reader.readAsDataURL(file);
            }
        });
        $(document).ready(function () {
            $('#OffersForm').on('submit', function (e) {
                e.preventDefault();

                // Check for empty fields
                var name = $('#Name').val().trim();
                var description = $('#Description').val().trim();
              
                var image = $('#Image').val();

                if (!name || !description  || !image) {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'warning',
                        title: 'Please fill out all fields!',
                        showConfirmButton: false,
                        timer: 3000
                    });
                    return;
                }

                var formData = new FormData(this);

                $.ajax({
                    url: '@Url.Action("Create", "Offers")',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'success',
                            title: 'Offer added successfully!',
                            showConfirmButton: false,
                            timer: 1000
                        }).then(function () {
                            window.location.href = '@Url.Action("Index", "Offers")';
                        });

                        $('#OffersForm')[0].reset();
                    },
                    error: function (xhr) {
                        Swal.fire({
                            toast: true,
                            position: 'top-end',
                            icon: 'error',
                            title: 'Failed to add offer. Please try again.',
                            showConfirmButton: false,
                            timer: 3000
                        });

                        var errors = xhr.responseJSON.errors;
                        $('#error-summary').show();
                        $('#error-summary').html('');
                        $.each(errors, function (key, value) {
                            $('#error-summary').append('<p>' + value[0] + '</p>');
                        });
                    }
                });
            });
        });
    </script>
}
